{
    "token":"токен бота",
    "gaid": "id гугл анатики(обязательно UA, а не GA4",
    "amo" : {
        "domain" : "https://ЧЁТА.amocrm.ru",
        "client_id": "ид интеграции",
        "client_secret": "ключ секретный",
        "redirect_uri": "из интеграции",
        "code": "код интеграции(для первого запуска скрипта получения токена)"
    },
    "amo_monagers_id": [ID менеджеров]
}